@import 'components/reset.styl'

body
  background #f2f2f2
  min-height 100%
  font-family verdana
  display flex
  flex-direction column

footer
header
  display block
  height 45px
  line-height 45px
  background #333
  text-transform uppercase

footer
  text-align right

a
  color #fff
  display inline-block
  text-decoration none
  padding 0 10px

  &:hover
    background orange

main
  flex 1
  padding 20px 0